[data]

  [data.user]
    email = "johnweldon4@gmail.com"
    name = "John Weldon"
    time_zone = "America/Phoenix"

  [data.ssh]
    allow_agent = false
    authorized = "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAr/Ap55myf7GielSVnX08Xm2wjYx1nP9BkbchLBh0hAQIimMkCOEiJJoeOK6Apchz7AB0UbVY7523+J7g5X87SAf44ZL2QIVaCbOsiBUngoAi0ocAsGVRN5oOfWuKATpZeDCefcWGh3YYtd4Y8BLeKAnYoJuG2HpYTW15tYo6qvHIm0OLjwZUzwDPjX04XriTKQkzESqopxTp3iElr/ILG10wdMg+3uzzz0J91IGYg5rSfwJUDiD+T9YrX3oRB3FIU9ET2oJu/JVh+KTZVu9ktgeRJG0+4gxfEbm7F01/Z98Q+oYBd7EDeuM9Cr6wP4yN11O3yzM6zBAQOuiIuc1HyQ== johnweldon4@gmail.com"
    public = ""
    private = ""
    config = ""

  [data.admin]
    apthosts = [""]
    hosts = ["localhost"]

# vi:se nowrap:
