[data]

  [data.user]
    email = "johnweldon4@gmail.com"
    name = "John Weldon"
    time_zone = "America/Phoenix"

  [data.ssh]
    allow_agent = false
    authorized_keys = [
      "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAQq4QbEep0dcjNuBawI6lniHNO/qkQPmBflizB2b/FR belfalas",
      "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAX54nVD06QAykngd9efT4QrgVSUpe5iaUqtfpdGrEdX carbon",
      "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID3vE5hg4rGZc+vBx13GVeAzHI8fjWyIFtNzNWPVgWMs eomer",
      "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOdt1/Pg/RHfPZCS5F8t3SrGrnEGiY8cmmic78Dm55af nkul",
      "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILChHThqKfynr89sIx1BmPtz3Nz9gjgWeFeonEC4yALD johnweldon4@gmail.com",
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAdoxC5Ubr5pVmL3oKwbaQlf81vF+YCEuLZDmphYDK9QmypQYRUG1r9MugGg3MyMyI1byifXzXTSXGTbWsDganCsnwtfRuMtcFInpZC+b41Rv0t9gIORIt7D0tMHKCMuUSI1aUWzxBQp2HGnXd/v79CDUlk5Vxa+VgWU225qcmgMj0xT4JJylZanI8Fegm0/5K7GJ7OMdkLh8xqSRvlyzvBwSziKoZ8j8gtHAfDobZUE8RcRZrUYIYIN26Kfj7ASMWuY1YCLXBAOmIBvG1Xwjj4M89aHtmHuQHleHP+aWaij+meuJWVaa1E5/gRw1ixJpGU+kqB0AiU52SzCjUt5nQHImWO5zgSEjO4GCU7bwJ92OihRpvNZutO1z3JBZZVhJ2Z3i4aoITaBEHahyWd+C9OUaUnETg1sDvUTHuNOJFM+ZXXtdlC1OyKX3QKFdG2DonJsOO375QWfSlUFA2XxjvZgCWb50SnjVbAegkH22MLTU77xHhVmoz5b9J+rGZG1MAzY4FjYNKZ6NnYqZEAVVQEKWp/HuTOwspQ3TmcQQVllhXgXKzk08HcVt1kOS/ZyYTbZcIlLhFnN4VVJUCdLID+eFmChIukPyIIFwNcIhWqwHKH6YS2r+lM9hsYKSbqkY4gDgZEKNNXoyy7ZFxEVgWNapuMiKP380pR44I5sVPUw== johnweldon",
    ]
    config = """
"""

  [data.admin]
    apthosts = []
    hosts = ["localhost"]

# vi:se nowrap:
