" HACK: https://github.com/vim/vim/issues/3117
if has('python3')
  silent! python3 1
endif

filetype plugin indent on
syntax on

set omnifunc=syntaxcomplete#Complete

let g:godef_split=0
let g:godef_same_file_in_same_window=1

let g:go_fmt_command = "goimports"
let g:go_fmt_fail_silently = 1

let g:go_highlight_functions = 1
let g:go_highlight_methods = 1
let g:go_highlight_structs = 1
let g:go_highlight_interfaces = 1
let g:go_highlight_operators = 1
let g:go_highlight_build_constraints = 1

let g:go_metalinter_command='golangci-lint'

let g:go_info_mode='gopls'

let g:vimwiki_list = [{'path': expand($NOTES_FOLDER)}]

let g:dadbod_manage_dbext = 1

let g:ale_completion_enabled = 1
let g:ale_fixers = {'python': ['yapf', 'autopep8'], '*': ['remove_trailing_lines', 'fix_whitespace']}


set modeline
set autoread
set autowrite
set noswapfile
set directory=

set nobomb
set encoding=utf8

set hlsearch

set number

set background=dark
set viminfo=""
set visualbell t_vb="<Esc>|1f"
set noerrorbells

set expandtab
set shiftwidth=2
set softtabstop=2
set tabstop=2


au BufNewFile,BufRead,BufReadPost 2???-??-??.did set filetype=did

colorscheme industry

highlight LineNr       cterm=NONE       ctermfg=darkgrey  ctermbg=NONE
highlight VertSplit    cterm=NONE       ctermfg=darkgrey  ctermbg=NONE
highlight ModeMsg      cterm=NONE       ctermfg=darkgrey  ctermbg=NONE

highlight StatusLine   cterm=NONE       ctermfg=darkgrey  ctermbg=NONE
highlight StatusLineNC cterm=underline  ctermfg=darkgrey  ctermbg=NONE


if filereadable(findfile("~/.local.vimrc"))
    source ~/.local.vimrc
endif

packloadall
silent! helptags ALL
