#!/usr/bin/env bash

{{ with .user.time_zone }}export TZ='{{- . -}}'{{ end }}
export DEFAULT_DATE_FORMAT="%Y-%m-%d %H:%M:%S"

{{- if eq .chezmoi.os "darwin" }}
if [ -f "$(brew --prefix)/etc/bash_completion" ]; then
  . "$(brew --prefix)/etc/bash_completion"
fi
{{- end }}

ulimit -n 10000

