[core]
	autocrlf = input

[user]
	name = {{ .user.name }}
	email = {{ .user.email }}

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
	insteadOf = gh:

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
	insteadOf = git://bitbucket.org/
	insteadOf = bb:

[http]
  cookiefile = {{ .chezmoi.homedir }}/.gitcookies
