# ControlMaster auto
# ControlPath ~/.ssh/control:%h:%p:%r

{{ with (index . "ssh") -}}{{ with (index . "config")}}{{ . }}{{end}}{{ end}}

Host *github.com *bitbucket.org
    ForwardAgent yes

## General

Host *
    Protocol 2
    ForwardAgent no
    StrictHostKeyChecking no
    ServerAliveCountMax 200
    ServerAliveInterval 10
    TCPKeepAlive yes

## Document sample settings
#
#    LocalForward localhost:13389 windowsbox:3389
#    ProxyCommand nc -Xconnect -x<proxyhostname>:8080 %h %p
#    ProxyCommand ssh -p 2222 -q -W %h:%p jump-host
#    IdentityFile ~/.ssh/other/awskey20151228.pem
#
#    vi:se et ts=4 sts=4 sw=4 tw=0:
